@model StudyTimer.MVC.Models.Home.HomeGetStatisticsViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div>
                <h2>Statistics</h2>
                <p>Total Study Sessions: @Model.TotalStudySessions</p>
                <p>Total Study Time: @Model.TotalStudyTime</p>
                <p>Most Studied Topic: @Model.MostStudiedTopic</p>
                <p>Total Completed Duties: @Model.TotalCompletedDuties</p>
                <p>Total Incomplete Duties: @Model.TotalIncompleteDuties</p>
                <p>Last Study Session Date: @Model.LastStudySessionDate</p>
            </div>
        </div>
    </div>
</div>