@model StudyTimer.MVC.Models.Home.HomeGetStatisticsViewModel

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div>
                <div class="text-center">
                    <h1 class="text-4xl mb-1">🪐 Study Timer</h1>
                    <p class="text-x mb-4">Focus on your studies among the stars!</p>
                </div>
                <h2 class="text-center mb-4">🚀 Dive into Your Learning Journey 📚</h2>
                <table class="table table-bordered table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Stat 📊</th>
                            <th>Value 🌟</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total Study Sessions 📅</td>
                            <td>@Model.TotalStudySessions</td>
                        </tr>
                        <tr>
                            <td>Total Study Time ⏳</td>
                            <td>@Model.TotalStudyTime</td>
                        </tr>
                        <tr>
                            <td>Most Studied Topic 📘</td>
                            <td>@Model.MostStudiedTopic</td>
                        </tr>
                        <tr>
                            <td>Total Completed Duties ✅</td>
                            <td>@Model.TotalCompletedDuties</td>
                        </tr>
                        <tr>
                            <td>Total Incomplete Duties ❌</td>
                            <td>@Model.TotalIncompleteDuties</td>
                        </tr>
                        <tr>
                            <td>Last Study Session Date 📆</td>
                            <td>@Model.LastStudySessionDate</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
